fonts()
  font arguments "Helvetica Neue", Helvetica

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body
  color #ffffee
  background #000011
  fonts 0.875em

h1
  fonts 1.5em

p.about
  margin 5%
  fonts 
  img
    clear both
    padding 2%
    padding-left 0px
    height 5%

a
  color #eeeeff
  text-decoration none

.head 
.footer
  display block
  float left
  padding-left 2%

.container
  width 40%
  padding 1%
  margin 2%
  background #555555
  color #eeffee
  border-radius 5px