fonts()
  font arguments "Helvetica Neue", Helvetica

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body
  color #ffffee
  background #000011
  fonts 14px

p.about
  margin 5px
  fonts 13px/1.5em
  img
    clear both
    padding 20px
    padding-left 0px
    height 150px

a
  color #eeeeff
  text-decoration none

.head
  display block

.container
  width 600px
  padding 10px
  margin 20px
  background #555555
  color #eeffee
  border-radius 5px