sansfont()
  font arguments Optima, Calibri, "Helvetica Neue", Helvetica, "Lucida Grande", Arial, sans-serif

serifont()
  font arguments Georgia, serif

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body
  color #deefde
  background #211020
  sansfont 0.875em

h1
  display none

p.about
  letter-spacing 0.07em
  margin 4% 2%

img
  height 5%
  margin -10% -8%
  float left
  clear both
  border-radius 5px

span.head
  color #347623


a
  color #eeeeff
  text-decoration none

a:hover
  color #01c844

.footer
  width 40%
  margin 1% auto
  text-align center
  text-transform lowercase

.container
  width 50%
  padding 1%
  margin 4% auto 1%
  background #543455
  color #eeffee
  border-radius 8px