!!! 5
html
  head
    meta(charset='utf-8')
    script(src='/jquery-1.6.1.min.js')
    script(src='site.js')
    link(href='http://fonts.googleapis.com/css?family=League+Script',rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/reset.css', type='text/css')
    link(rel='stylesheet', href='/style.css', type='text/css')
    link(rel='shortcut icon', href='/AW_Sid_small.jpg')
    title #{myTitle}
  body
    article
      header
        h1
          a(title='home', href='/')
            span.head dash.sidcarter.com
      section.container
        != body
      section.footer
        \Copyright &copy; 2011 
        a(title='Dashboard Home', href='/') Sid Carter.
        br                
        != versions