p Hola! My name is Sid. That's not my real name, but that's what everyone calls me and knows me as.  
  img(title='Sid', alt='sid', src='/AW_Sid.jpg')
  \I love taking 
  a(title='Photos', href='http://fotos.sidcarter.com/') photos
  \,
  a(title='Twitter', href='http://twitter.com/sidcarter/') tweet 
  \a lot and
  a(title='Twitter', href='http://twitter.com/sidcarter/') blog 
  \a bit.
br
p The code for this site resides at 
  a(title='my github', href='http://github.com/sidcarter/dashnode/') github
  .