!!! 5
html
  head
    meta(charset='utf-8')
    script(src='http://code.jquery.com/jquery-1.6.1.min.js')
    link(rel='stylesheet', href='/style.css', type='text/css')
    title My Dash Node
  body
    p This is a Marvellous.
    p Rendering the index page using a combination of Haml and hand-coded node.js brilliance.
    p My github page is 
      a(title='my github page', href='https://github.com/sidcarter/') here
    