!!! 5
html
  head
    script(src='jquery.js')
    title My Dash Node
  body
    p This is a Marvellous.
    p Rendering the index page using a combination of Haml and hand-coded node.js brilliance.
    