img.sid(title='Sid', alt='sid', src='/AW_Sid.jpg')
p Hola! My name is Sid. That's not my real name, but that's what everyone calls me and knows me as. 
  \I love taking 
  a(title='Photos', href='http://fotos.sidcarter.com/') photos
  \, dabble in
  a(title='my github', href='http://github.com/sidcarter/') stuff
  \, 
  a(title='Twitter', href='http://twitter.com/sidcarter/') tweet 
  \a lot and
  a(title='Blog', href='http://sidcarter.com/') blog 
  \a bit.