body
  article
    header
    h1 
      span.welcome Welcome
      span.head dash.sidcarter.com
    section.container
      p This is Marvellous.
      p And welcome to dash.sidcarter.com
      p My github page is 
        a(title='my github page', href='https://github.com/sidcarter/') here.
    