:markdown
  ![Sid](/AW_Sid.jpg "Sid")Hola! My name is Sid. That's not my real name, but that's what everyone calls me.
  
  I love taking [photos](http://fotos.sidcarter.com/ 'Photos'), [tweet](http://twitter.com/sidcarter/) a lot and
  [blog](http://sidcarter.com) a bit.  
  
  The code for the site resides at [github](http://github.com/sidcarter/dashnode/).