p.about 
  img(src='/AW_Sid.jpg', title='Sid')
  \Hola! My name is Sid. It's not my real name, but that's what everyone knows me as.
  \I am into lots of little things. I 
  a(title='My Photos', href='http://fotos.sidcarter.com/') shoot photos
  \ occasionally. I 
  a(title='Twitter', href='http://twitter.com/sidcarter/') tweet
  \ a lot and 
  a(title='My Blog', href='http://sidcarter.com/') blog
  \ a bit. 
  br
  br 
  \The code for the site resides 
  a(title='Site Code at Github',href='http://github.com/sidcarter/dashnode') here
  .