p Hola! My name is Sid. That's not my real name, but that's what everyone calls me and knows me as.  
  img(title='Sid', alt='sid', src='/AW_Sid.jpg')
  \I love taking 
  a(title='Photos', href='http://fotos.sidcarter.com/') photos
  \, dabble in
  a(title='my github', href='http://github.com/sidcarter/dashnode/') stuff
  \, 
  a(title='Twitter', href='http://twitter.com/sidcarter/') tweet 
  \a lot and
  a(title='Blog', href='http://sidcarter.com/') blog 
  \a bit.
br
p And I love beautiful stuff - watching them, creating beautiful things and admiring beautiful stuff that you create.